h1 {
  font-family: 'profile', cursive;
  color:rgb(135, 19, 10);
  font-size: 100
}
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');


@media screen and(max-width: 480px) {
  img {
  border: 0;
  }
  }
@media screen and(min-width: 1280px) {
  img {
  border: 1px solid red;
  }
}